[submodule "apps/raspberry"]
	path = apps/raspberry
	url = https://github.com/Flettex/raspberry.git

[submodule "apps/pineapple"]
	path = apps/pineapple
	url = https://github.com/Flettex/pineapple.git

[submodule "apps/pineapple-svelte"]
	path = apps/pineapple-svelte
	url = https://github.com/Flettex/pineapple-svelte.git